.input {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px;
}

.btnSend {
    border: none;
    background-color: rgb(38, 117, 38);
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
}